/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
 */
th,
td {
  border: 1px solid red;
  height: 13vh;
  width: 15%;
  padding-left: 1.5%;
  padding-right: 1%;
}

.answer {
  background: green;
}

.question {
  background: grey;
}

.showing {
  background: lightblue;
}

#restart {
  margin-bottom: 1.5%;
}
